<!DOCTYPE html>

<!-- https://ru.vuejs.org/v2/guide/ -->
<html>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="style.css" media = "screen">
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
</head>
<body>
  <div class="container" id="app">
    <ul v-if="todos && todos.length">
    <li v-for="todo of todos">
      {{todo.title}}
<button>нажми</button>
    </li>

  </ul>
  </div>

  <script>
  new Vue({
  data: () => ({
    todos: []
  }),
  el: '#app',

  // Fetches posts when the component is created.
  created() {
    axios.get(`http://jsonplaceholder.typicode.com/todos`)
    .then(response => {
      // JSON responses are automatically parsed.
      this.todos = response.data
    })
  }
})
  </script>
</body>
</html>