body{
    background-color: #72dbdd;
}
.container{
    padding: 0.1em 0 1em 0;
    margin: 4em;
    background-color: #fff;
    border-left: 15px dotted #72dbdd; /*имитация листа, вырванного из тетради на пружинке */
}
ul{
    list-style: none;
    width: 100%;
}
li{
    border-bottom: 2px solid #1f00d0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: bold italic 150% serif;
    margin-right: 4em; /* оставляем поля справа */
    padding: 0 0.3em 0 0.7em; /* учтено, что у кнопки часть отступа формируется за счёт белой границы */
}
button{
    background-color: #ff3;
    width: 10em;
    border: 0.7em solid #fff; /* белая граница не даёт кнопке прилипать к линиям */
    padding: 1em;
    cursor: pointer;
    font-size: 11pt; 
}